* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}



body {
  background: black;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 80%;
  margin: 0 auto;
  position: relative;
  background-color: lightseagreen;
}


